.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  padding: 8px 12px;

  background-color: #E3E3F0;
  border-radius: 6px;

  cursor: pointer;

  p {
    font-size: 12px;
    line-height: 16px;
  }
}
