footer {
  position: fixed;
  bottom: 0;
  
  width: 100%;

  background-color: #494957;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;

  padding: 24px;

  .company {
    font-size: 14px;
    color: #D5D5E5;
  }

  .business {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7.5px;

    p {
      font-size: 14px;
      color: #D5D5E5;
    }
  }
}
